{% extends "layouts/base.html" %}
{% set project = "Home" %}
{% block body %}
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Flask Portfolio - Personal Portfolio</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Blog numbero uno</h5>
                    <p class="card-text">
                        <ol>
                           This is my change to Index file. I am Orlando Carcamo, your friendly neighborhood beaner!
                        </ol>
                    </p>
                    </div>
                </div>
            </div>
    </div>
    <h4 class="text-white"><strong> </strong></h2>
{% endblock %}